venv/*
.venv/*
*.pyc
.*~
*.*~
*.pid
*.bak
*.dump
*.db
*.sqlite
tags
TAGS
Vagrantfile
.vagrant
tmp
tmp_data
.DS_Store
_trial_temp*
workspace.xml
.idea/*
.vscode/*
.pycharm
.sublime-project
.backups
.coverage
dist
.env.local
requirements.local*
requirements.txt
.pytest_cache
.vim
.mypy_cache/*
.python-version
